.form__error {
 max-width: 400px;
 color: #ff0000;
 font-family: 'Inter', 'Arial', sans-serif;
 font-style: normal;
 font-weight: normal;
 font-size: 12px;
 line-height: 13px;
 position: absolute;
 top: calc(100% - 54px);
 left: 0;
}

@media screen and (max-width: 475px) {
  .form__error {
    line-height: 10px;
    top: calc(100% - 58px);
  }
}